In [42]:
# ensure classes imported from .py files are dynamically updated
%load_ext autoreload
%autoreload 2

# plot matplots nicely
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
import numpy as np
import pandas as pd
import datetime
import xarray as xr
from dateutil.relativedelta import relativedelta
from climate_drought import config, drought_indices as dri, utils
import matplotlib.pyplot as plt
from shapely import Polygon
import glob
#pd.set_option('display.max_rows', 500)

In [44]:
cf = config.Config(outdir= 'output',indir='input',verbose=False)
aa_pt = config.AnalysisArgs(latitude=38.5,longitude=-119.5,start_date='20210121',end_date='20230531',oformat='cov')
aa_bb = config.AnalysisArgs(latitude=[38.5,40.5],longitude=[-119.5,-117.5],start_date='20210121',end_date='20230531')
aa_pn = config.AnalysisArgs(latitude=[38.5,40.5,38,38.5,38.5],longitude=[-119.5,-117.5,-118,-117.5,-116.5],start_date='20210121',end_date='20230531',oformat='cov')

In [75]:
sma_pt = dri.SMA_GDO(cf,aa_pt)
sma_bb = dri.SMA_GDO(cf,aa_bb)
sma_pn = dri.SMA_GDO(cf,aa_pn)
spi_pt = dri.SPI_GDO(cf,aa_pt)
spi_bb = dri.SPI_GDO(cf,aa_bb)
spi_pn = dri.SPI_GDO(cf,aa_pn)
fpr_pt = dri.FPAR_GDO(cf,aa_pt)
fpr_bb = dri.FPAR_GDO(cf,aa_bb)
fpr_pn = dri.FPAR_GDO(cf,aa_pn)

2023-06-16  16:46:55 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code smant
2023-06-16  16:46:55 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code smant
2023-06-16  16:46:55 INFO Couldn't retrieve URL for GDO file with year: 2023, prod_code smant
2023-06-16  16:46:55 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code smant
2023-06-16  16:46:56 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code smant
2023-06-16  16:46:56 INFO Couldn't retrieve URL for GDO file with year: 2023, prod_code smant
2023-06-16  16:46:56 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code smant
2023-06-16  16:46:56 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code smant
2023-06-16  16:47:02 INFO Couldn't retrieve URL for GDO file with year: 2023, prod_code smant
2023-06-16  16:47:02 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code spg03
2023-06-16  16:47:02 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code spg03
2023-06-16  16:47:07 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code spg03
2023-06-16  16:47:08 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code spg03
2023-06-16  16:47:08 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code spg03
2023-06-16  16:47:13 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code spg03
2023-06-16  16:47:18 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code spg03
2023-06-16  16:47:19 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code spg03
2023-06-16  16:47:19 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code spg03
2023-06-16  16:47:19 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code fpanv
2023-06-16  16:47:25 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code fpanv
2023-06-16  16:47:25 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code fpanv
2023-06-16  16:47:30 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code fpanv
2023-06-16  16:47:35 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code fpanv
2023-06-16  16:47:36 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code fpanv
2023-06-16  16:47:36 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code fpanv
2023-06-16  16:47:36 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code fpanv
2023-06-16  16:47:41 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code fpanv

In [76]:
sma_pt.download()
sma_bb.download()
sma_pn.download()

2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20210101_20211221_t.nc
2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20220101_20221101_t.nc
2023-06-16  16:47:42 INFO Could not download file: input/smant/smant_m_wld_20220101_20220921_t.nc
2023-06-16  16:47:42 INFO Error: HTTP Error 404: Not Found
2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20210101_20211221_t.nc
2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20220101_20221101_t.nc
2023-06-16  16:47:42 INFO Could not download file: input/smant/smant_m_wld_20220101_20220921_t.nc
2023-06-16  16:47:42 INFO Error: HTTP Error 404: Not Found
2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20210101_20211221_t.nc
2023-06-16  16:47:42 INFO File already exists at: input/smant/smant_m_wld_20220101_20221101_t.nc
2023-06-16  16:47:43 INFO Could not download file: input/smant/smant_m_wld_20220101_20220921_t.nc
2023-06-16  16:47:43 INFO Error: HTTP Error 404: Not Found

['input/smant/smant_m_wld_20210101_20211221_t.nc',
 'input/smant/smant_m_wld_20220101_20221101_t.nc']

In [17]:
spi_pt.download()
spi_bb.download()
spi_pn.download()

2023-06-15  14:23:33 INFO File already exists at: input/spg03/spg03_m_wld_20210101_20211201_m.nc
2023-06-15  14:23:33 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221201_m.nc
2023-06-15  14:23:33 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221101_m.nc
2023-06-15  14:23:34 INFO Could not download file: input/spg03/spg03_m_wld_20220101_20220801_m.nc
2023-06-15  14:23:34 INFO Error: HTTP Error 404: Not Found
2023-06-15  14:23:34 INFO Downloaded file from GDO: input/spg03/spg03_m_wld_20230101_20230501_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20210101_20211201_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221201_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221101_m.nc
2023-06-15  14:23:34 INFO Could not download file: input/spg03/spg03_m_wld_20220101_20220801_m.nc
2023-06-15  14:23:34 INFO Error: HTTP Error 404: Not Found
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20230101_20230501_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20210101_20211201_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221201_m.nc
2023-06-15  14:23:34 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221101_m.nc
2023-06-15  14:23:35 INFO Could not download file: input/spg03/spg03_m_wld_20220101_20220801_m.nc
2023-06-15  14:23:35 INFO Error: HTTP Error 404: Not Found
2023-06-15  14:23:35 INFO File already exists at: input/spg03/spg03_m_wld_20230101_20230501_m.nc

['input/spg03/spg03_m_wld_20210101_20211201_m.nc',
 'input/spg03/spg03_m_wld_20220101_20221201_m.nc',
 'input/spg03/spg03_m_wld_20220101_20221101_m.nc',
 'input/spg03/spg03_m_wld_20230101_20230501_m.nc']

In [18]:
fpr_pt.download()
fpr_bb.download()
fpr_pn.download()

2023-06-15  14:24:14 INFO File already exists at: input/fpanv/fpanv_m_wld_20210101_20211221_t.nc
2023-06-15  14:24:14 INFO File already exists at: input/fpanv/fpanv_m_wld_20220101_20221221_t.nc
2023-06-15  14:24:21 INFO Downloaded file from GDO: input/fpanv/fpanv_m_wld_20230101_20230521_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20210101_20211221_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20220101_20221221_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20230101_20230521_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20210101_20211221_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20220101_20221221_t.nc
2023-06-15  14:24:21 INFO File already exists at: input/fpanv/fpanv_m_wld_20230101_20230521_t.nc

['input/fpanv/fpanv_m_wld_20210101_20211221_t.nc',
 'input/fpanv/fpanv_m_wld_20220101_20221221_t.nc',
 'input/fpanv/fpanv_m_wld_20230101_20230521_t.nc']

In [77]:
sma_pt.process()

Loading and trimmning data...
Filling gaps  in data...
Converting to dataframe...
Reducing to requested area...

    latitude  longitude       time  smant
0      38.55    -119.45 2021-01-21  -0.84
1      38.55    -119.45 2021-02-01  -0.11
2      38.55    -119.45 2021-02-11  -0.53
3      38.55    -119.45 2021-02-21  -1.65
4      38.55    -119.45 2021-03-01  -2.78
..       ...        ...        ...    ...
80     38.55    -119.45 2023-04-11    NaN
81     38.55    -119.45 2023-04-21    NaN
82     38.55    -119.45 2023-05-01    NaN
83     38.55    -119.45 2023-05-11    NaN
84     38.55    -119.45 2023-05-21    NaN

[85 rows x 4 columns]

In [14]:
sma_bb.process()

       latitude  longitude       time  smant
0         38.55    -119.45 2021-01-21  -0.84
1         38.55    -119.45 2021-02-01  -0.11
2         38.55    -119.45 2021-02-11  -0.53
3         38.55    -119.45 2021-02-21  -1.65
4         38.55    -119.45 2021-03-01  -2.78
...         ...        ...        ...    ...
33995     40.45    -117.55 2023-04-11    NaN
33996     40.45    -117.55 2023-04-21    NaN
33997     40.45    -117.55 2023-05-01    NaN
33998     40.45    -117.55 2023-05-11    NaN
33999     40.45    -117.55 2023-05-21    NaN

[34000 rows x 4 columns]

In [15]:
sma_pn.process()

Loading and trimmning data...
Filling gaps  in data...
Converting to dataframe...
Reducing to requested area...
Generating output...

2023-06-15  14:19:15 WARNING The CovJSON indenting option is no longer working - need to look at

       latitude  longitude       time  smant     mask
65        38.05    -119.45 2022-11-11    NaN -99999.0
66        38.05    -119.45 2022-11-21    NaN -99999.0
67        38.05    -119.45 2022-12-01    NaN -99999.0
68        38.05    -119.45 2022-12-11    NaN -99999.0
69        38.05    -119.45 2022-12-21    NaN -99999.0
...         ...        ...        ...    ...      ...
63745     40.45    -116.55 2023-04-11    NaN -99999.0
63746     40.45    -116.55 2023-04-21    NaN -99999.0
63747     40.45    -116.55 2023-05-01    NaN -99999.0
63748     40.45    -116.55 2023-05-11    NaN -99999.0
63749     40.45    -116.55 2023-05-21    NaN -99999.0

[30860 rows x 5 columns]

In [19]:
spi_pt.process()
spi_bb.process()
spi_pn.process()

2023-06-15  14:24:56 WARNING The CovJSON indenting option is no longer working - need to look at

Generating output...
Generating output...

2023-06-15  14:25:00 WARNING The CovJSON indenting option is no longer working - need to look at

Generating output...

     latitude  longitude       time  spg03  mask
0        38.5     -119.5 2021-02-01 -0.183   1.0
1        38.5     -119.5 2021-03-01 -0.201   1.0
2        38.5     -119.5 2021-04-01 -0.578   1.0
3        38.5     -119.5 2021-05-01 -0.473   1.0
4        38.5     -119.5 2021-06-01 -0.726   1.0
..        ...        ...        ...    ...   ...
303      40.5     -117.5 2023-01-01  1.139   1.0
304      40.5     -117.5 2023-02-01  1.175   1.0
305      40.5     -117.5 2023-03-01  0.664   1.0
306      40.5     -117.5 2023-04-01  0.129   1.0
307      40.5     -117.5 2023-05-01  0.494   1.0

[252 rows x 5 columns]

In [21]:
fpr_pt.process()
fpr_bb.process()
fpr_pn.process()

2023-06-15  14:27:19 WARNING Outfile not written: already exists

Generating output...

2023-06-15  14:27:21 WARNING Outfile not written: already exists

Generating output...

2023-06-15  14:27:23 WARNING The CovJSON indenting option is no longer working - need to look at

Generating output...

       latitude  longitude       time  fpanv  mask
1530     38.042   -117.958 2021-01-21    NaN   1.0
1531     38.042   -117.958 2021-02-01    NaN   1.0
1532     38.042   -117.958 2021-02-11    NaN   1.0
1533     38.042   -117.958 2021-02-21    NaN   1.0
1534     38.042   -117.958 2021-03-01    NaN   1.0
...         ...        ...        ...    ...   ...
61195    40.458   -117.542 2023-04-11 -1.105   1.0
61196    40.458   -117.542 2023-04-21 -1.046   1.0
61197    40.458   -117.542 2023-05-01 -0.627   1.0
61198    40.458   -117.542 2023-05-11 -0.361   1.0
61199    40.458   -117.542 2023-05-21 -0.066   1.0

[25245 rows x 5 columns]

In [72]:
caa = config.CDIArgs(aa_pn.latitude,aa_pn.longitude,aa_pn.start_date,aa_pn.end_date,oformat='cov')
caa = config.CDIArgs([36],[-120],aa_pt.start_date,aa_pn.end_date,oformat='csv')

In [73]:
cdi = dri.CDI(cf,caa)
cdi.download()

2023-06-16  16:44:53 INFO Successfully retrieved URL for GDO file with year: 2020, prod_code spg03
2023-06-16  16:44:53 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code spg03
2023-06-16  16:44:54 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code spg03
2023-06-16  16:44:54 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code spg03
2023-06-16  16:44:54 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code smant
2023-06-16  16:44:54 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code smant
2023-06-16  16:44:55 INFO Couldn't retrieve URL for GDO file with year: 2023, prod_code smant
2023-06-16  16:44:55 INFO Successfully retrieved URL for GDO file with year: 2021, prod_code fpanv
2023-06-16  16:44:55 INFO Successfully retrieved URL for GDO file with year: 2022, prod_code fpanv
2023-06-16  16:44:56 INFO Successfully retrieved URL for GDO file with year: 2023, prod_code fpanv
2023-06-16  16:44:56 INFO File already exists at: input/spg03/spg03_m_wld_20200101_20201201_m.nc
2023-06-16  16:44:56 INFO File already exists at: input/spg03/spg03_m_wld_20210101_20211201_m.nc
2023-06-16  16:44:56 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221201_m.nc
2023-06-16  16:44:56 INFO File already exists at: input/spg03/spg03_m_wld_20220101_20221101_m.nc
2023-06-16  16:44:56 INFO Could not download file: input/spg03/spg03_m_wld_20220101_20220801_m.nc
2023-06-16  16:44:56 INFO Error: HTTP Error 404: Not Found
2023-06-16  16:44:56 INFO File already exists at: input/spg03/spg03_m_wld_20230101_20230501_m.nc
2023-06-16  16:44:56 INFO File already exists at: input/smant/smant_m_wld_20210101_20211221_t.nc
2023-06-16  16:44:56 INFO File already exists at: input/smant/smant_m_wld_20220101_20221101_t.nc
2023-06-16  16:44:56 INFO Could not download file: input/smant/smant_m_wld_20220101_20220921_t.nc
2023-06-16  16:44:56 INFO Error: HTTP Error 404: Not Found
2023-06-16  16:44:56 INFO File already exists at: input/fpanv/fpanv_m_wld_20210101_20211221_t.nc
2023-06-16  16:44:56 INFO File already exists at: input/fpanv/fpanv_m_wld_20220101_20221221_t.nc
2023-06-16  16:44:56 INFO File already exists at: input/fpanv/fpanv_m_wld_20230101_20230521_t.nc

[['input/spg03/spg03_m_wld_20200101_20201201_m.nc',
  'input/spg03/spg03_m_wld_20210101_20211201_m.nc',
  'input/spg03/spg03_m_wld_20220101_20221201_m.nc',
  'input/spg03/spg03_m_wld_20220101_20221101_m.nc',
  'input/spg03/spg03_m_wld_20230101_20230501_m.nc'],
 ['input/smant/smant_m_wld_20210101_20211221_t.nc',
  'input/smant/smant_m_wld_20220101_20221101_t.nc'],
 ['input/fpanv/fpanv_m_wld_20210101_20211221_t.nc',
  'input/fpanv/fpanv_m_wld_20220101_20221221_t.nc',
  'input/fpanv/fpanv_m_wld_20230101_20230521_t.nc']]

In [79]:
cdi.process()

2023-06-16  17:03:30 INFO Computing Combined Drought Indicator...

Loading and trimmning data...
Filling gaps  in data...
Converting to dataframe...
Reducing to requested area...

2023-06-18  20:26:06 INFO Completed processing of ERA5 CDI data.

Generating output...

    latitude  longitude       time  spg03  smant  fpanv  CDI
0       52.5        1.5 2020-12-01    NaN    NaN    NaN  NaN
1       52.5        1.5 2020-12-11    NaN    NaN    NaN  NaN
2       52.5        1.5 2020-12-21    NaN    NaN    NaN  NaN
3       52.5        1.5 2021-01-01  1.296    NaN    NaN  NaN
4       52.5        1.5 2021-01-11    NaN    NaN    NaN  NaN
..       ...        ...        ...    ...    ...    ...  ...
85      52.5        1.5 2023-04-11    NaN    NaN    NaN  NaN
86      52.5        1.5 2023-04-21    NaN    NaN    NaN  NaN
87      52.5        1.5 2023-05-01  0.032    NaN    NaN  NaN
88      52.5        1.5 2023-05-11    NaN    NaN    NaN  NaN
89      52.5        1.5 2023-05-21    NaN    NaN    NaN  NaN

[90 rows x 7 columns]